$primary-white-color: #ffffff;

$background-color: #F7F7F7;
$header-background-color: rgba(0, 0, 0, 0.56);

$accent-header-color: #FF001B;

$primary-text-color: #000000;
$secondary-text-color: #545454;
$accent-text-color: #FF6B08;

$tipycal-mob-margin: 20px;
$tipycal-desk-margin: 32px;

$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$timing-function: 250ms;