.film-card {
  @include font(12px, 500, 1.33, null);
  font-family: inherit;
  color: $accent-text-color;
  @include desktop {
    @include font(20px, null, 1.2, null);
  }

  &__thumb {
    height: 400px;
    margin-bottom: 10px;
    transition: background $timing-function $cubic, box-shadow $timing-function $cubic;
    @include tablet {
      height: 455px;
      margin-bottom: 8px;
    }
    @include desktop {
      height: 574px;
      margin-bottom: 12px;
    }
    &:hover,
    &:focus {
      background: #c4c4c4;
      box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    }
  }

  &__img{
    border-radius: 5px;
    object-fit: cover;
  }

  &__header {
    color: $primary-text-color;
    font-size: inherit;
    font-weight: inherit;
  }

  &__genres {
    display: inline-block;
    padding-right: 0.3em;
    border-right: 1px solid $accent-text-color;
  }

  &__rating {
    display: inline-block;
    width: 36px;
    padding: 2px;
    border-radius: 5px;
    color: $primary-white-color;
    background-color: $accent-text-color;
    text-align: center;
    @include desktop {
      width: 60px;
      padding: 3px;
    }
  }
}
