.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

@media screen and (min-width: 320px) {
    width: 320px;
    padding-left: $tipycal-mob-margin;
    padding-right: $tipycal-mob-margin;
  }
 @media screen and (min-width: 768px) {
  width: 768px;
    padding-left: $tipycal-desk-margin;
    padding-right: $tipycal-desk-margin;
 }
 @media screen and (min-width: 1280px) {
  width: 1280px;
 }
}


header {
  background-position: center;
  background-color: $header-background-color;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 320px) {
    background-image: url(../images/lib-background-mob-x1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/lib-background-mob-x2.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/lib-background-mob-x3.jpg);
    }
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/lib-background-tab-x1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/lib-background-tab-x2.jpg);
    }
    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/lib-background-tab-x3.jpg);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/lib-background-desk-x1.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/lib-background-desk-x2.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/lib-background-desk-x3.jpg);
    }
  }
}
.mobile {
  @media screen and (min-width: 320px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
.nav-library {
  @media screen and (min-width: 320px) {
      display: block;
      justify-content: center;
    }
  @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1280px) {
      display: flex;
    }
  
}
.div {
  @media screen and (min-width: 320px) {
      display:flex
    }
  @media screen and (min-width: 768px) {
      display: flex
    }
     @media screen and (min-width: 1280px) {
      display: flex
     }
  
}
.nav__link-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
  }
}
.nav__link {
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
  padding: 40px 0 0 0;
  @media screen and (min-width: 320px) {
      
    }
  @media screen and (min-width: 768px) {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 385px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 900px;
  }
}
.btn-list {
  display: flex;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  @media screen and (min-width: 320px) {
    padding-bottom: 60px;
    }
  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 60px;
    }
    @media screen and (min-width: 1280px) {
    padding-top: 0;
    padding-bottom: 60px;
    }
  
}

.watched {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 1);
  @media screen and (min-width: 320px) {
      margin-right: 20px;
      width: 125px;
      height: 45px;
    }
  @media screen and (min-width: 768px) {
    margin-right: 30px;
    width: 150px;
      height: 45px;
  }
  @media screen and (min-width: 1280px) {
    margin-right: 15px;
    width: 150px;
      height: 45px;
  }
  transition: background-color $timing-function $cubic;
  &:hover {
    background-color: #ff6b01;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border-color: transparent;
  }
}

.queue {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  width: 150px;
  height: 45px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 1);
  transition: background-color $timing-function $cubic;
  &:hover {
    background-color: #ff6b01;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    border-color: transparent;
  }
    @media screen and (min-width: 320px) {
    
      width: 125px;
      height: 45px;
    }
  
    @media screen and (min-width: 768px) {
    
      width: 150px;
      height: 45px;
    }
  
    @media screen and (min-width: 1280px) {
    
      width: 150px;
      height: 45px;
    }
}
.nav-list {
  display: flex;
  @media screen and (min-width: 320px) {
      margin: 0;
      padding-left: 0;
      padding-top: 45px;
    }
  @media screen and (min-width: 768px) {
    margin: 0;
    padding-left: 0;
    padding-top: 50px;
  }
  @media screen and (min-width: 1280px) {
    margin: 0;
    padding-left: 0;
    padding-top: 50px;
  }
}
.nav-list_item {
  height: 14px;
  &:not(:last-child) {
    margin-right: 40px;
  }
}
.nav-list_link {
  position: relative;
  color: #fff;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  transition: color $timing-function $cubic;
  &:hover,
  & :focus {
    box-shadow: inset 100px 0 0 0 transparent;
    color: #ff001b;
  }
}
.current {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 17px;
    width: 100%;
    height: 3px;
    opacity: 1;
    background-color: #ff001b;
    transition: opacity 2000ms var(--timingfunction);
  }
}
.icon-lib {
  @media screen and (min-width: 320px) {
      margin-right: 113px;;
      margin-bottom: 70px;
    }
  @media screen and (min-width: 768px) {
      margin-right: 10px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 10px;
    }
  animation: wiggle 2s linear infinite;
}
/* Keyframes */
@keyframes wiggle {
  7% {
    transform: rotateZ(0);
  }

  15% {
    transform: rotateZ(-15deg);
  }

  20% {
    transform: rotateZ(10deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  30% {
    transform: rotateZ(6deg);
  }

  35% {
    transform: rotateZ(-4deg);
  }

  100% {
    transform: rotateZ(0);
  }
}
