.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;

  @include mobile {
    padding: 40px 0;
  }

  @include tablet {
    padding: 50px 0 60px 0;
  }
}

.pagination-button:not(:last-child),
.dots {
  margin-right: 16px;
}

.pagination-button {
  display: flex;
  padding: 0;
  background-color: $primary-white-color;
  border: none;
  color: $primary-text-color;
  cursor: pointer;
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  align-items: center;
  justify-content: center;
  // width: 40px;
  // height: 40px;
}

.pagination--current {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: $accent-text-color;
  color: $primary-white-color;
}

.dots,
.first-button,
.last-button {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.arrow-left,
.arrow-right {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: $background-color;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  fill: black;
  background-position: center;
  background-repeat: no-repeat;
}

.arrow-left {
  background-image: url(/src/images/arrow-right.svg);
}

.arrow-right {
  background-image: url(/src/images/arrow-left.svg);
}
