.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1;
  opacity: 1;
  padding: 10px;
  overflow-y: scroll;
  transition-property: opacity;
  transition-duration: $timing-function;
  transition-timing-function: $cubic;
}

.backdrop--is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal {
  position: absolute;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  z-index: 2;
  @media screen and (min-width: 768px) {
    width: 704px;
    height: 552px;
    top: calc((100vh - 552px) / 2.15);
    left: calc((100vw - 704px) / 2);
  }
  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
    top: calc((100vh - 558px) / 2.5);
    left: calc((100vw - 806px) / 2);
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  z-index: 5;
  padding: 0;
  border: 0ch;
  background-color: $primary-white-color;
  transition-property: fill;
  transition-duration: $timing-function;
  transition-timing-function: $cubic;

  &:hover,
  &:focus {
    fill: rgb(66, 64, 64);
  }
}
.modal__icon-close {
  stroke: $primary-text-color;
}
.modal_container {
  position: relative;
  margin: 0 auto;
  background-color: $primary-white-color;
  padding: 48px 20px 40px 20px;
  @media screen and (max-width: 767px) {
    max-width: 440px;
  }
  @media screen and (min-width: 768px) {
    padding: 40px 36px 40px 36px;
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.modal_flex {
  @media screen and(min-width: 768px) {
    width: calc((100% - 104px) / 2);
    &:not(:last-child) {
      margin-right: 72px;
    }
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 40px) / 2);
    &:not(:last-child) {
      margin-right: 16px;
    }
  }
}
.modal_poster {
  
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    max-height: 374px;
  }
  @media screen and (min-width:1280px) {
    max-height: 478px
  }
}
.modal_data-flex {
  display: flex;
}
.modal_movie-title {
  @media screen and (max-width: 768px) {
    margin-top: 20px;
  }

  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  color: $primary-text-color;
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.17;
  }
}
.modal_movie-data {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #8c8c8c;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.modal_data-text {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}
.modal_data-text-box {
  margin-left: 40px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $primary-text-color;
}
.modal_about-title {
  margin-bottom: 8px;
  margin-top: 20px;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $primary-text-color;
}
.modal_about-text {
  max-height: 236px;
  overflow-y: scroll;

  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: $primary-text-color;
  @media screen and (min-width: 1280px) {
    max-height: 160px;
  }
  &::-webkit-scrollbar {width: 0;}
  & {-ms-overflow-style: none};
  & {overflow: -moz-scrollbars-none};
}
.modal_button-box {
  display: flex;
  justify-content: center;
}
.modal_button {
  display: block;
  width: 110px;
  height: 44px;
  border-radius: 5px;
  background-color: $primary-white-color;
  border-color: $primary-text-color;
  border: 1px solid;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: $primary-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition-property: color, background-color, border;
  transition-duration: $timing-function;
  transition-timing-function: $cubic;
  &:not(:last-child) {
    margin-right: 20px;
  }
  &:hover,
  &:focus {
    color: $primary-white-color;
    background-color: $accent-text-color;
    border: transparent;
  }
}

.create-data {
  position: relative;
  margin: 0 auto;
  background-color: $primary-white-color;
  @media screen and (max-width: 767px) {
    max-width: 440px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.modal_text-span {
  padding: 1px 8px;
  background-color: $accent-text-color;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.overflow-hidden {
  overflow-y: hidden;
}
