.section-film-card {
    min-height: calc(100vh - 350px);
    padding-top: 20px;
    @include tablet {
        padding-top: 60px;
    }
}

.section-pagination {
    padding-top: 40px;
    padding-bottom: 40px;
  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
