<!-- Іконка зі спрайту для хедера -->

<!-- <svg class="icon">
    <use href="/src/images/symbol-defs.svg#icon-film"></use>
</svg> -->

<header>
    <div class="container background-lib">
        <nav class="nav-library">
            <div class="mobile">
            <div class="div">
           <a href="./index.html" class="nav__link">
            <svg class="icon-lib" width="22px" height="22px">
                <use href="/src/images/symbol-defs.svg#icon-film"></use>
            </svg><span class="nav__link-text">Filmoteka</span></a>
            </div>
            <ul class="btn-list">
                <li class="btn-list_item list"><button class="watched">watched</button></li>
                <li class="btn-list_item list"><button class="queue">queue</button></li>
            </ul>
            </div>
            <ul class="nav-list">
                <li class="nav-list_item list"><a href="./index.html" class="list nav-list_link">home</a></li>
                <li class="nav-list_item list"><a href="./library.html" class="list nav-list_link current">my library</a></li>
            </ul>
        </nav>
    </div>
</header>